<nav class="navbar navbar-expand-lg bg-body-tertiary">
      <a class="navbar-brand">
          {% load static %}
          <img src="{% static  'Task/todo-img.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          todo list
      </a>

      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'homePage' %}">صفحه اصلی</a>
            <a class="nav-link" href="{% url 'login-page' %}">ورود</a>
            <a class="nav-link" href="{% url 'register-page' %}">ثبت نام</a>
                <a class="nav-link" href="{% url 'git-hub' %}">درباره ما</a>
          </div>
        </div>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="جست و جو" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">

            <img src="{% static 'Task/serch.png' %}" alt="Logo" width="30" height="30">
          </button>
        </form>
      </div>
</nav>
